@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins";
  --font-dancing-script: "Dancing Script", cursive;
}

/* [data-theme="light"] {
  background-color: white;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
  scroll-behavior: smooth;
  background-color: white;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-poppins);
}

h1,
h2,
h3 {
  font-family: var(--font-dancing-script);
}

.loader {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #e67632 70%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 142px;
  height: 142px;
  border-radius: 50%;
  background: #ffffff;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.simpalFont {
  font-family: var(--font-poppins);
}

.swiper {
  width: 100%;
  height: auto; /* adjust to content */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: stretch; /* stretch card height */
  height: auto;
}

/* // pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.page-item {
  margin: 0 0px;
}

.page-link {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #0b183a;
  text-decoration: none;
  color: #0b183a;
  cursor: pointer;
  font-size: 12px;
}

.page-link:hover {
  background-color: #f1f1f1;
}

.active .page-link {
  background-color: #0b183a;
  color: white;
  border-color: #0b183a;
}

.page-item.disabled .page-link {
  color: #ccc;
  cursor: not-allowed;
}

.tabScroll {
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
  padding-right: 10px;
  scrollbar-width: thin;
}

/* Scrollbar styling only for WebKit browsers (Chrome, Edge, Safari) */
.tabScroll::-webkit-scrollbar {
  width: 10px; /* Set your custom scrollbar width */
}

.tabScroll::-webkit-scrollbar-track {
  background: black; /* Track color */
  border-radius: 10px;
}

.tabScroll::-webkit-scrollbar-thumb {
  background: black; /* Scrollbar color */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* To give some padding effect */
}

.tabScroll::-webkit-scrollbar-thumb:hover {
  background: black;
  width: 1px;
}

.modal-box {
  background-color: white;
}
