@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --font-poppins: "Poppins";
  --font-dancing-script: "Dancing Script", cursive;
}

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}
html {
  scroll-behavior: smooth;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
a,
input,
textarea {
  font-family: var(--font-dancing-script);
}

.simpalFont {
  font-family: var(--font-poppins);
}

.swiper {
  width: 100%;
  height: auto; /* adjust to content */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: stretch; /* stretch card height */
  height: auto;
}
